html {
  height: 100%;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  /* https://images.unsplash.com/photo-1531048230592-9903bf40a199?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 */
  /* background-image: url("../imgs/login/loginBG.jpg"); */

  /* https://images.unsplash.com/photo-1586028409986-9412c8701566?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1797&q=80 */
  background-image: url("../imgs/register/regBG.jpg");

  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 562px 637px #fff, 1170px 418px #fff, 868px 363px #fff,
    729px 1840px #fff, 1061px 620px #fff, 275px 398px #fff, 1433px 1607px #fff,
    563px 656px #fff, 572px 1130px #fff, 1330px 1488px #fff, 144px 366px #fff,
    1551px 1668px #fff, 1766px 823px #fff, 42px 601px #fff, 198px 1720px #fff,
    130px 1782px #fff, 884px 1962px #fff, 533px 1425px #fff, 1548px 596px #fff,
    1497px 1744px #fff, 1211px 18px #fff, 837px 669px #fff, 675px 174px #fff,
    1701px 837px #fff, 1582px 483px #fff, 999px 924px #fff, 778px 1938px #fff,
    618px 1485px #fff, 832px 1553px #fff, 680px 730px #fff, 925px 374px #fff,
    1485px 513px #fff, 1481px 116px #fff, 92px 1230px #fff, 1354px 179px #fff,
    585px 1593px #fff, 434px 1311px #fff, 1993px 445px #fff, 1005px 1897px #fff,
    804px 596px #fff, 75px 747px #fff, 1154px 551px #fff, 909px 895px #fff,
    1037px 478px #fff, 1778px 1632px #fff, 1149px 1153px #fff, 776px 128px #fff,
    515px 1777px #fff, 687px 715px #fff, 574px 474px #fff, 395px 737px #fff,
    1727px 964px #fff, 159px 497px #fff, 437px 542px #fff, 1259px 1982px #fff,
    577px 920px #fff, 278px 1684px #fff, 458px 1275px #fff, 1843px 119px #fff,
    203px 169px #fff, 1851px 469px #fff, 495px 781px #fff, 649px 197px #fff,
    979px 510px #fff, 1544px 263px #fff, 1353px 514px #fff, 1543px 706px #fff,
    1558px 828px #fff, 163px 567px #fff, 168px 1014px #fff, 669px 1469px #fff,
    669px 1111px #fff, 1160px 5px #fff, 1011px 1371px #fff, 1599px 792px #fff,
    436px 542px #fff, 896px 1414px #fff, 1821px 899px #fff, 435px 1408px #fff,
    1421px 1025px #fff, 825px 647px #fff, 785px 935px #fff, 266px 770px #fff,
    1311px 1235px #fff, 617px 10px #fff, 378px 521px #fff, 603px 563px #fff,
    1810px 1366px #fff, 1061px 1975px #fff, 1023px 689px #fff, 207px 1116px #fff,
    652px 1792px #fff, 1951px 899px #fff, 856px 1492px #fff, 1147px 1099px #fff,
    79px 1915px #fff, 1930px 1393px #fff, 486px 949px #fff, 1937px 1124px #fff,
    1455px 1809px #fff, 835px 386px #fff, 1195px 466px #fff, 193px 135px #fff,
    1671px 1579px #fff, 1212px 1518px #fff, 319px 1944px #fff,
    1779px 1866px #fff, 950px 236px #fff, 1689px 873px #fff, 529px 1254px #fff,
    1321px 344px #fff, 1288px 309px #fff, 420px 1172px #fff, 1587px 819px #fff,
    1163px 1997px #fff, 68px 1465px #fff, 764px 1028px #fff, 1592px 1346px #fff,
    1699px 488px #fff, 1911px 1519px #fff, 1812px 1261px #fff, 1035px 311px #fff,
    1484px 493px #fff, 1548px 46px #fff, 517px 861px #fff, 50px 915px #fff,
    140px 1443px #fff, 251px 53px #fff, 300px 34px #fff, 1782px 582px #fff,
    1323px 1966px #fff, 570px 816px #fff, 1995px 1428px #fff, 1505px 355px #fff,
    718px 202px #fff, 1331px 1254px #fff, 1790px 812px #fff, 1612px 1699px #fff,
    191px 876px #fff, 867px 665px #fff, 26px 1072px #fff, 1968px 1620px #fff,
    1570px 403px #fff, 1491px 4px #fff, 346px 1535px #fff, 1937px 906px #fff,
    1797px 1255px #fff, 153px 1255px #fff, 107px 1402px #fff, 1123px 1780px #fff,
    1917px 164px #fff, 1692px 1756px #fff, 1225px 1895px #fff,
    1666px 1697px #fff, 207px 1107px #fff, 1411px 891px #fff, 457px 501px #fff,
    636px 851px #fff, 150px 502px #fff, 700px 1721px #fff, 774px 1625px #fff,
    555px 49px #fff, 1306px 1881px #fff, 762px 1323px #fff, 896px 1464px #fff,
    77px 318px #fff, 674px 81px #fff, 103px 1120px #fff, 151px 1708px #fff,
    1188px 343px #fff, 1560px 330px #fff, 362px 709px #fff, 654px 203px #fff,
    1787px 569px #fff, 526px 340px #fff, 1500px 1053px #fff, 1018px 528px #fff,
    1137px 1118px #fff, 1964px 1982px #fff, 1927px 970px #fff, 801px 482px #fff,
    316px 1201px #fff, 366px 378px #fff, 476px 545px #fff, 13px 1648px #fff,
    759px 404px #fff, 1338px 1687px #fff, 242px 941px #fff, 212px 437px #fff,
    1144px 1933px #fff, 1854px 1411px #fff, 1590px 916px #fff, 1798px 919px #fff,
    921px 1441px #fff, 1838px 1047px #fff, 853px 958px #fff, 335px 150px #fff,
    264px 246px #fff, 893px 668px #fff, 1381px 489px #fff, 42px 315px #fff,
    565px 304px #fff, 1528px 649px #fff, 358px 1236px #fff, 1376px 1744px #fff,
    1090px 683px #fff, 1477px 1824px #fff, 1267px 1509px #fff,
    1735px 1118px #fff, 143px 1268px #fff, 1898px 339px #fff, 1400px 82px #fff,
    802px 1563px #fff, 1226px 370px #fff, 1150px 1768px #fff, 1712px 1291px #fff,
    1501px 199px #fff, 1403px 541px #fff, 109px 560px #fff, 1112px 98px #fff,
    1102px 500px #fff, 285px 1691px #fff, 1180px 507px #fff, 735px 1316px #fff,
    1791px 843px #fff, 1504px 816px #fff, 250px 1224px #fff, 1862px 1784px #fff,
    546px 991px #fff, 1884px 224px #fff, 624px 1878px #fff, 910px 966px #fff,
    1522px 1743px #fff, 1916px 813px #fff, 1356px 1563px #fff, 43px 1819px #fff,
    1224px 168px #fff, 1696px 381px #fff, 446px 781px #fff, 684px 1223px #fff,
    940px 753px #fff, 839px 709px #fff, 1160px 1737px #fff, 1807px 537px #fff,
    281px 1663px #fff, 47px 1446px #fff, 202px 1264px #fff, 1087px 1896px #fff,
    1853px 1625px #fff, 1507px 1753px #fff, 471px 1926px #fff,
    1344px 1487px #fff, 821px 1420px #fff, 236px 1404px #fff, 444px 1564px #fff,
    1775px 253px #fff, 1069px 1468px #fff, 1968px 586px #fff, 467px 40px #fff,
    179px 1531px #fff, 1155px 1278px #fff, 32px 1747px #fff, 1724px 1599px #fff,
    221px 1451px #fff, 509px 805px #fff, 1422px 1799px #fff, 766px 764px #fff,
    1254px 1428px #fff, 414px 1043px #fff, 112px 1139px #fff, 758px 1233px #fff,
    1947px 421px #fff, 1570px 1502px #fff, 1370px 1549px #fff, 917px 1490px #fff,
    668px 96px #fff, 481px 1459px #fff, 590px 754px #fff, 1617px 1498px #fff,
    1268px 1903px #fff, 899px 1516px #fff, 1513px 825px #fff, 1358px 1257px #fff,
    359px 1963px #fff, 787px 356px #fff, 1398px 1659px #fff, 43px 1223px #fff,
    1615px 818px #fff, 1863px 4px #fff, 1707px 620px #fff, 54px 270px #fff,
    1769px 1871px #fff, 475px 497px #fff, 1516px 117px #fff, 61px 1179px #fff,
    1227px 1057px #fff, 1380px 1447px #fff, 1648px 827px #fff, 1635px 676px #fff,
    1139px 612px #fff, 1028px 1789px #fff, 1235px 423px #fff, 1932px 1887px #fff,
    595px 1681px #fff, 479px 729px #fff, 1744px 1058px #fff, 1325px 960px #fff,
    610px 884px #fff, 318px 429px #fff, 1271px 1647px #fff, 912px 1226px #fff,
    840px 982px #fff, 1867px 1706px #fff, 152px 1519px #fff, 1649px 370px #fff,
    841px 534px #fff, 1508px 661px #fff, 23px 1687px #fff, 1129px 1975px #fff,
    234px 799px #fff, 146px 1980px #fff, 926px 1755px #fff, 602px 1121px #fff,
    962px 1617px #fff, 1448px 1053px #fff, 1254px 1956px #fff, 797px 538px #fff,
    904px 529px #fff, 425px 1861px #fff, 792px 62px #fff, 732px 341px #fff,
    1070px 529px #fff, 1919px 913px #fff, 1213px 372px #fff, 62px 699px #fff,
    1827px 337px #fff, 487px 15px #fff, 1733px 1484px #fff, 1106px 1561px #fff,
    1326px 1925px #fff, 496px 1611px #fff, 449px 529px #fff, 1160px 268px #fff,
    732px 1176px #fff, 552px 1169px #fff, 1727px 1446px #fff, 756px 1342px #fff,
    1078px 816px #fff, 842px 1757px #fff, 68px 1986px #fff, 200px 1802px #fff,
    1845px 142px #fff, 1247px 714px #fff, 100px 1179px #fff, 1622px 992px #fff,
    127px 1034px #fff, 453px 1106px #fff, 1799px 1257px #fff, 1475px 1126px #fff,
    1411px 157px #fff, 1173px 1158px #fff, 110px 313px #fff, 42px 656px #fff,
    1507px 366px #fff, 803px 469px #fff, 1392px 1859px #fff, 126px 419px #fff,
    514px 1311px #fff, 1362px 1610px #fff, 751px 338px #fff, 458px 1026px #fff,
    1225px 43px #fff, 846px 1698px #fff, 946px 497px #fff, 1822px 1982px #fff,
    307px 1052px #fff, 765px 1915px #fff, 925px 238px #fff, 719px 151px #fff,
    772px 449px #fff, 691px 739px #fff, 1226px 1686px #fff, 1625px 825px #fff,
    542px 1647px #fff, 1919px 1530px #fff, 1667px 895px #fff, 213px 304px #fff,
    146px 980px #fff, 1703px 1834px #fff, 1721px 1133px #fff, 860px 1160px #fff,
    120px 1354px #fff, 1540px 1910px #fff, 524px 498px #fff, 649px 870px #fff,
    1163px 1693px #fff, 1503px 533px #fff, 345px 846px #fff, 12px 1655px #fff,
    880px 1689px #fff, 1237px 386px #fff, 369px 1529px #fff, 1694px 622px #fff,
    1095px 1715px #fff, 483px 1877px #fff, 999px 1952px #fff, 496px 1979px #fff,
    617px 647px #fff, 118px 1458px #fff, 1500px 747px #fff, 1011px 720px #fff,
    715px 1868px #fff, 1119px 1637px #fff, 337px 1056px #fff, 85px 949px #fff,
    385px 870px #fff, 1719px 1312px #fff, 1064px 1638px #fff, 325px 148px #fff,
    1134px 976px #fff, 1858px 626px #fff, 1154px 782px #fff, 878px 683px #fff,
    1619px 566px #fff, 1041px 1962px #fff, 817px 1370px #fff, 686px 596px #fff,
    1220px 1710px #fff, 732px 1518px #fff, 1762px 916px #fff, 1023px 1772px #fff,
    1210px 879px #fff, 1631px 590px #fff, 1826px 938px #fff, 485px 549px #fff,
    558px 1449px #fff, 1162px 1088px #fff, 740px 34px #fff, 1281px 83px #fff,
    563px 1952px #fff, 1956px 786px #fff, 1415px 1168px #fff, 1070px 716px #fff,
    406px 775px #fff, 192px 1024px #fff, 739px 797px #fff, 597px 293px #fff,
    790px 1350px #fff, 860px 547px #fff, 1174px 1754px #fff, 1828px 1937px #fff,
    1233px 797px #fff, 395px 1944px #fff, 1085px 1612px #fff, 1297px 1553px #fff,
    588px 424px #fff, 1959px 1372px #fff, 1272px 1947px #fff, 189px 1627px #fff,
    1301px 1243px #fff, 810px 1002px #fff, 1144px 580px #fff, 1490px 674px #fff,
    682px 365px #fff, 490px 1987px #fff, 1238px 1227px #fff, 83px 843px #fff,
    498px 676px #fff, 865px 971px #fff, 1201px 552px #fff, 1416px 92px #fff,
    20px 673px #fff, 1442px 1772px #fff, 908px 340px #fff, 30px 87px #fff,
    1372px 114px #fff, 1698px 1246px #fff, 698px 755px #fff, 1849px 1825px #fff,
    1502px 1001px #fff, 131px 1908px #fff, 1326px 1544px #fff, 1741px 265px #fff,
    152px 1323px #fff, 1167px 921px #fff, 1378px 1410px #fff, 1532px 1178px #fff,
    1919px 166px #fff, 23px 1816px #fff, 440px 1908px #fff, 128px 1233px #fff,
    410px 1674px #fff, 1164px 1233px #fff, 1749px 1915px #fff, 490px 1985px #fff,
    808px 1519px #fff, 1661px 1561px #fff, 1637px 449px #fff, 1167px 437px #fff,
    697px 13px #fff, 52px 1963px #fff, 36px 911px #fff, 1810px 1025px #fff,
    750px 1469px #fff, 1551px 384px #fff, 1282px 218px #fff, 1869px 1540px #fff,
    679px 1334px #fff, 160px 1980px #fff, 1981px 1809px #fff, 1746px 1726px #fff,
    360px 74px #fff, 61px 1503px #fff, 1314px 491px #fff, 1161px 718px #fff,
    1852px 1872px #fff, 817px 1948px #fff, 427px 591px #fff, 52px 859px #fff,
    555px 361px #fff, 1889px 154px #fff, 1838px 90px #fff, 424px 1250px #fff,
    540px 94px #fff, 1692px 1241px #fff, 25px 950px #fff, 1339px 1403px #fff,
    658px 407px #fff, 1698px 745px #fff, 520px 85px #fff, 1648px 1960px #fff,
    1382px 1115px #fff, 8px 1188px #fff, 298px 1829px #fff, 69px 1960px #fff,
    329px 1183px #fff, 1298px 1087px #fff, 29px 44px #fff, 1799px 1646px #fff,
    39px 623px #fff, 1051px 1917px #fff, 1798px 928px #fff, 592px 63px #fff,
    1499px 831px #fff, 315px 435px #fff, 891px 1454px #fff, 1575px 184px #fff,
    1243px 748px #fff, 745px 1696px #fff, 409px 1542px #fff, 1082px 899px #fff,
    1030px 1604px #fff, 588px 127px #fff, 1222px 1841px #fff, 257px 184px #fff,
    1410px 1487px #fff, 342px 1015px #fff, 1226px 757px #fff, 1958px 575px #fff,
    906px 673px #fff, 628px 1741px #fff, 2000px 227px #fff, 1811px 692px #fff,
    1929px 1597px #fff, 972px 875px #fff, 1019px 115px #fff, 1584px 1139px #fff,
    861px 1397px #fff, 772px 1815px #fff, 1997px 111px #fff, 1343px 1651px #fff,
    1724px 714px #fff, 719px 1132px #fff, 140px 1733px #fff, 699px 1405px #fff,
    188px 943px #fff, 812px 1267px #fff, 1403px 1360px #fff, 1031px 291px #fff,
    1357px 91px #fff, 644px 397px #fff, 1768px 178px #fff, 242px 54px #fff,
    465px 368px #fff, 305px 747px #fff, 1312px 59px #fff, 1749px 1685px #fff,
    1873px 165px #fff, 50px 1840px #fff, 1334px 1061px #fff, 373px 23px #fff,
    685px 1138px #fff, 1573px 1090px #fff, 278px 1670px #fff, 1305px 1072px #fff,
    315px 636px #fff, 941px 330px #fff, 367px 248px #fff, 916px 1607px #fff,
    1837px 1016px #fff, 784px 759px #fff, 1324px 1589px #fff, 305px 1076px #fff,
    1263px 1833px #fff, 202px 1119px #fff, 197px 148px #fff, 1221px 651px #fff,
    158px 676px #fff, 1858px 530px #fff, 491px 1706px #fff, 260px 235px #fff,
    363px 1499px #fff, 292px 1040px #fff, 909px 200px #fff, 1061px 418px #fff,
    971px 1621px #fff, 213px 953px #fff, 1177px 568px #fff, 31px 622px #fff,
    922px 1348px #fff, 1401px 1903px #fff, 1050px 1106px #fff, 594px 1097px #fff,
    1997px 691px #fff, 871px 1393px #fff, 1370px 1246px #fff, 1621px 1177px #fff,
    1382px 1788px #fff, 95px 1920px #fff, 941px 242px #fff, 332px 1415px #fff,
    1280px 1071px #fff, 1245px 1888px #fff, 1130px 130px #fff, 982px 719px #fff,
    278px 1620px #fff, 186px 1339px #fff, 628px 1419px #fff, 1614px 724px #fff,
    437px 823px #fff, 1963px 911px #fff, 349px 1166px #fff, 936px 1661px #fff,
    1586px 342px #fff, 19px 1465px #fff, 60px 1291px #fff, 1117px 836px #fff,
    1238px 1425px #fff, 831px 288px #fff, 1465px 1714px #fff, 870px 1992px #fff,
    251px 1775px #fff, 1935px 1848px #fff, 1681px 37px #fff, 1225px 1348px #fff,
    411px 1660px #fff, 1649px 690px #fff, 1725px 137px #fff, 1780px 1183px #fff,
    905px 1634px #fff, 1397px 373px #fff, 1491px 724px #fff, 490px 1597px #fff,
    480px 1936px #fff, 1160px 784px #fff, 629px 103px #fff, 1878px 717px #fff,
    94px 723px #fff, 644px 781px #fff, 860px 1426px #fff, 1843px 1536px #fff,
    1022px 1240px #fff, 244px 1912px #fff, 121px 780px #fff, 1730px 1746px #fff,
    508px 720px #fff, 357px 1307px #fff, 1534px 1033px #fff, 129px 169px #fff,
    347px 1939px #fff, 1322px 205px #fff, 1442px 1907px #fff, 800px 695px #fff,
    1608px 1798px #fff, 145px 1221px #fff, 729px 1691px #fff, 1017px 1314px #fff,
    893px 1525px #fff, 537px 1117px #fff, 692px 1541px #fff, 245px 1505px #fff,
    1690px 1006px #fff, 1998px 1635px #fff, 1006px 96px #fff, 1111px 637px #fff,
    743px 961px #fff, 605px 1295px #fff, 1876px 1378px #fff, 611px 656px #fff,
    1592px 1744px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 562px 637px #fff, 1170px 418px #fff, 868px 363px #fff,
    729px 1840px #fff, 1061px 620px #fff, 275px 398px #fff, 1433px 1607px #fff,
    563px 656px #fff, 572px 1130px #fff, 1330px 1488px #fff, 144px 366px #fff,
    1551px 1668px #fff, 1766px 823px #fff, 42px 601px #fff, 198px 1720px #fff,
    130px 1782px #fff, 884px 1962px #fff, 533px 1425px #fff, 1548px 596px #fff,
    1497px 1744px #fff, 1211px 18px #fff, 837px 669px #fff, 675px 174px #fff,
    1701px 837px #fff, 1582px 483px #fff, 999px 924px #fff, 778px 1938px #fff,
    618px 1485px #fff, 832px 1553px #fff, 680px 730px #fff, 925px 374px #fff,
    1485px 513px #fff, 1481px 116px #fff, 92px 1230px #fff, 1354px 179px #fff,
    585px 1593px #fff, 434px 1311px #fff, 1993px 445px #fff, 1005px 1897px #fff,
    804px 596px #fff, 75px 747px #fff, 1154px 551px #fff, 909px 895px #fff,
    1037px 478px #fff, 1778px 1632px #fff, 1149px 1153px #fff, 776px 128px #fff,
    515px 1777px #fff, 687px 715px #fff, 574px 474px #fff, 395px 737px #fff,
    1727px 964px #fff, 159px 497px #fff, 437px 542px #fff, 1259px 1982px #fff,
    577px 920px #fff, 278px 1684px #fff, 458px 1275px #fff, 1843px 119px #fff,
    203px 169px #fff, 1851px 469px #fff, 495px 781px #fff, 649px 197px #fff,
    979px 510px #fff, 1544px 263px #fff, 1353px 514px #fff, 1543px 706px #fff,
    1558px 828px #fff, 163px 567px #fff, 168px 1014px #fff, 669px 1469px #fff,
    669px 1111px #fff, 1160px 5px #fff, 1011px 1371px #fff, 1599px 792px #fff,
    436px 542px #fff, 896px 1414px #fff, 1821px 899px #fff, 435px 1408px #fff,
    1421px 1025px #fff, 825px 647px #fff, 785px 935px #fff, 266px 770px #fff,
    1311px 1235px #fff, 617px 10px #fff, 378px 521px #fff, 603px 563px #fff,
    1810px 1366px #fff, 1061px 1975px #fff, 1023px 689px #fff, 207px 1116px #fff,
    652px 1792px #fff, 1951px 899px #fff, 856px 1492px #fff, 1147px 1099px #fff,
    79px 1915px #fff, 1930px 1393px #fff, 486px 949px #fff, 1937px 1124px #fff,
    1455px 1809px #fff, 835px 386px #fff, 1195px 466px #fff, 193px 135px #fff,
    1671px 1579px #fff, 1212px 1518px #fff, 319px 1944px #fff,
    1779px 1866px #fff, 950px 236px #fff, 1689px 873px #fff, 529px 1254px #fff,
    1321px 344px #fff, 1288px 309px #fff, 420px 1172px #fff, 1587px 819px #fff,
    1163px 1997px #fff, 68px 1465px #fff, 764px 1028px #fff, 1592px 1346px #fff,
    1699px 488px #fff, 1911px 1519px #fff, 1812px 1261px #fff, 1035px 311px #fff,
    1484px 493px #fff, 1548px 46px #fff, 517px 861px #fff, 50px 915px #fff,
    140px 1443px #fff, 251px 53px #fff, 300px 34px #fff, 1782px 582px #fff,
    1323px 1966px #fff, 570px 816px #fff, 1995px 1428px #fff, 1505px 355px #fff,
    718px 202px #fff, 1331px 1254px #fff, 1790px 812px #fff, 1612px 1699px #fff,
    191px 876px #fff, 867px 665px #fff, 26px 1072px #fff, 1968px 1620px #fff,
    1570px 403px #fff, 1491px 4px #fff, 346px 1535px #fff, 1937px 906px #fff,
    1797px 1255px #fff, 153px 1255px #fff, 107px 1402px #fff, 1123px 1780px #fff,
    1917px 164px #fff, 1692px 1756px #fff, 1225px 1895px #fff,
    1666px 1697px #fff, 207px 1107px #fff, 1411px 891px #fff, 457px 501px #fff,
    636px 851px #fff, 150px 502px #fff, 700px 1721px #fff, 774px 1625px #fff,
    555px 49px #fff, 1306px 1881px #fff, 762px 1323px #fff, 896px 1464px #fff,
    77px 318px #fff, 674px 81px #fff, 103px 1120px #fff, 151px 1708px #fff,
    1188px 343px #fff, 1560px 330px #fff, 362px 709px #fff, 654px 203px #fff,
    1787px 569px #fff, 526px 340px #fff, 1500px 1053px #fff, 1018px 528px #fff,
    1137px 1118px #fff, 1964px 1982px #fff, 1927px 970px #fff, 801px 482px #fff,
    316px 1201px #fff, 366px 378px #fff, 476px 545px #fff, 13px 1648px #fff,
    759px 404px #fff, 1338px 1687px #fff, 242px 941px #fff, 212px 437px #fff,
    1144px 1933px #fff, 1854px 1411px #fff, 1590px 916px #fff, 1798px 919px #fff,
    921px 1441px #fff, 1838px 1047px #fff, 853px 958px #fff, 335px 150px #fff,
    264px 246px #fff, 893px 668px #fff, 1381px 489px #fff, 42px 315px #fff,
    565px 304px #fff, 1528px 649px #fff, 358px 1236px #fff, 1376px 1744px #fff,
    1090px 683px #fff, 1477px 1824px #fff, 1267px 1509px #fff,
    1735px 1118px #fff, 143px 1268px #fff, 1898px 339px #fff, 1400px 82px #fff,
    802px 1563px #fff, 1226px 370px #fff, 1150px 1768px #fff, 1712px 1291px #fff,
    1501px 199px #fff, 1403px 541px #fff, 109px 560px #fff, 1112px 98px #fff,
    1102px 500px #fff, 285px 1691px #fff, 1180px 507px #fff, 735px 1316px #fff,
    1791px 843px #fff, 1504px 816px #fff, 250px 1224px #fff, 1862px 1784px #fff,
    546px 991px #fff, 1884px 224px #fff, 624px 1878px #fff, 910px 966px #fff,
    1522px 1743px #fff, 1916px 813px #fff, 1356px 1563px #fff, 43px 1819px #fff,
    1224px 168px #fff, 1696px 381px #fff, 446px 781px #fff, 684px 1223px #fff,
    940px 753px #fff, 839px 709px #fff, 1160px 1737px #fff, 1807px 537px #fff,
    281px 1663px #fff, 47px 1446px #fff, 202px 1264px #fff, 1087px 1896px #fff,
    1853px 1625px #fff, 1507px 1753px #fff, 471px 1926px #fff,
    1344px 1487px #fff, 821px 1420px #fff, 236px 1404px #fff, 444px 1564px #fff,
    1775px 253px #fff, 1069px 1468px #fff, 1968px 586px #fff, 467px 40px #fff,
    179px 1531px #fff, 1155px 1278px #fff, 32px 1747px #fff, 1724px 1599px #fff,
    221px 1451px #fff, 509px 805px #fff, 1422px 1799px #fff, 766px 764px #fff,
    1254px 1428px #fff, 414px 1043px #fff, 112px 1139px #fff, 758px 1233px #fff,
    1947px 421px #fff, 1570px 1502px #fff, 1370px 1549px #fff, 917px 1490px #fff,
    668px 96px #fff, 481px 1459px #fff, 590px 754px #fff, 1617px 1498px #fff,
    1268px 1903px #fff, 899px 1516px #fff, 1513px 825px #fff, 1358px 1257px #fff,
    359px 1963px #fff, 787px 356px #fff, 1398px 1659px #fff, 43px 1223px #fff,
    1615px 818px #fff, 1863px 4px #fff, 1707px 620px #fff, 54px 270px #fff,
    1769px 1871px #fff, 475px 497px #fff, 1516px 117px #fff, 61px 1179px #fff,
    1227px 1057px #fff, 1380px 1447px #fff, 1648px 827px #fff, 1635px 676px #fff,
    1139px 612px #fff, 1028px 1789px #fff, 1235px 423px #fff, 1932px 1887px #fff,
    595px 1681px #fff, 479px 729px #fff, 1744px 1058px #fff, 1325px 960px #fff,
    610px 884px #fff, 318px 429px #fff, 1271px 1647px #fff, 912px 1226px #fff,
    840px 982px #fff, 1867px 1706px #fff, 152px 1519px #fff, 1649px 370px #fff,
    841px 534px #fff, 1508px 661px #fff, 23px 1687px #fff, 1129px 1975px #fff,
    234px 799px #fff, 146px 1980px #fff, 926px 1755px #fff, 602px 1121px #fff,
    962px 1617px #fff, 1448px 1053px #fff, 1254px 1956px #fff, 797px 538px #fff,
    904px 529px #fff, 425px 1861px #fff, 792px 62px #fff, 732px 341px #fff,
    1070px 529px #fff, 1919px 913px #fff, 1213px 372px #fff, 62px 699px #fff,
    1827px 337px #fff, 487px 15px #fff, 1733px 1484px #fff, 1106px 1561px #fff,
    1326px 1925px #fff, 496px 1611px #fff, 449px 529px #fff, 1160px 268px #fff,
    732px 1176px #fff, 552px 1169px #fff, 1727px 1446px #fff, 756px 1342px #fff,
    1078px 816px #fff, 842px 1757px #fff, 68px 1986px #fff, 200px 1802px #fff,
    1845px 142px #fff, 1247px 714px #fff, 100px 1179px #fff, 1622px 992px #fff,
    127px 1034px #fff, 453px 1106px #fff, 1799px 1257px #fff, 1475px 1126px #fff,
    1411px 157px #fff, 1173px 1158px #fff, 110px 313px #fff, 42px 656px #fff,
    1507px 366px #fff, 803px 469px #fff, 1392px 1859px #fff, 126px 419px #fff,
    514px 1311px #fff, 1362px 1610px #fff, 751px 338px #fff, 458px 1026px #fff,
    1225px 43px #fff, 846px 1698px #fff, 946px 497px #fff, 1822px 1982px #fff,
    307px 1052px #fff, 765px 1915px #fff, 925px 238px #fff, 719px 151px #fff,
    772px 449px #fff, 691px 739px #fff, 1226px 1686px #fff, 1625px 825px #fff,
    542px 1647px #fff, 1919px 1530px #fff, 1667px 895px #fff, 213px 304px #fff,
    146px 980px #fff, 1703px 1834px #fff, 1721px 1133px #fff, 860px 1160px #fff,
    120px 1354px #fff, 1540px 1910px #fff, 524px 498px #fff, 649px 870px #fff,
    1163px 1693px #fff, 1503px 533px #fff, 345px 846px #fff, 12px 1655px #fff,
    880px 1689px #fff, 1237px 386px #fff, 369px 1529px #fff, 1694px 622px #fff,
    1095px 1715px #fff, 483px 1877px #fff, 999px 1952px #fff, 496px 1979px #fff,
    617px 647px #fff, 118px 1458px #fff, 1500px 747px #fff, 1011px 720px #fff,
    715px 1868px #fff, 1119px 1637px #fff, 337px 1056px #fff, 85px 949px #fff,
    385px 870px #fff, 1719px 1312px #fff, 1064px 1638px #fff, 325px 148px #fff,
    1134px 976px #fff, 1858px 626px #fff, 1154px 782px #fff, 878px 683px #fff,
    1619px 566px #fff, 1041px 1962px #fff, 817px 1370px #fff, 686px 596px #fff,
    1220px 1710px #fff, 732px 1518px #fff, 1762px 916px #fff, 1023px 1772px #fff,
    1210px 879px #fff, 1631px 590px #fff, 1826px 938px #fff, 485px 549px #fff,
    558px 1449px #fff, 1162px 1088px #fff, 740px 34px #fff, 1281px 83px #fff,
    563px 1952px #fff, 1956px 786px #fff, 1415px 1168px #fff, 1070px 716px #fff,
    406px 775px #fff, 192px 1024px #fff, 739px 797px #fff, 597px 293px #fff,
    790px 1350px #fff, 860px 547px #fff, 1174px 1754px #fff, 1828px 1937px #fff,
    1233px 797px #fff, 395px 1944px #fff, 1085px 1612px #fff, 1297px 1553px #fff,
    588px 424px #fff, 1959px 1372px #fff, 1272px 1947px #fff, 189px 1627px #fff,
    1301px 1243px #fff, 810px 1002px #fff, 1144px 580px #fff, 1490px 674px #fff,
    682px 365px #fff, 490px 1987px #fff, 1238px 1227px #fff, 83px 843px #fff,
    498px 676px #fff, 865px 971px #fff, 1201px 552px #fff, 1416px 92px #fff,
    20px 673px #fff, 1442px 1772px #fff, 908px 340px #fff, 30px 87px #fff,
    1372px 114px #fff, 1698px 1246px #fff, 698px 755px #fff, 1849px 1825px #fff,
    1502px 1001px #fff, 131px 1908px #fff, 1326px 1544px #fff, 1741px 265px #fff,
    152px 1323px #fff, 1167px 921px #fff, 1378px 1410px #fff, 1532px 1178px #fff,
    1919px 166px #fff, 23px 1816px #fff, 440px 1908px #fff, 128px 1233px #fff,
    410px 1674px #fff, 1164px 1233px #fff, 1749px 1915px #fff, 490px 1985px #fff,
    808px 1519px #fff, 1661px 1561px #fff, 1637px 449px #fff, 1167px 437px #fff,
    697px 13px #fff, 52px 1963px #fff, 36px 911px #fff, 1810px 1025px #fff,
    750px 1469px #fff, 1551px 384px #fff, 1282px 218px #fff, 1869px 1540px #fff,
    679px 1334px #fff, 160px 1980px #fff, 1981px 1809px #fff, 1746px 1726px #fff,
    360px 74px #fff, 61px 1503px #fff, 1314px 491px #fff, 1161px 718px #fff,
    1852px 1872px #fff, 817px 1948px #fff, 427px 591px #fff, 52px 859px #fff,
    555px 361px #fff, 1889px 154px #fff, 1838px 90px #fff, 424px 1250px #fff,
    540px 94px #fff, 1692px 1241px #fff, 25px 950px #fff, 1339px 1403px #fff,
    658px 407px #fff, 1698px 745px #fff, 520px 85px #fff, 1648px 1960px #fff,
    1382px 1115px #fff, 8px 1188px #fff, 298px 1829px #fff, 69px 1960px #fff,
    329px 1183px #fff, 1298px 1087px #fff, 29px 44px #fff, 1799px 1646px #fff,
    39px 623px #fff, 1051px 1917px #fff, 1798px 928px #fff, 592px 63px #fff,
    1499px 831px #fff, 315px 435px #fff, 891px 1454px #fff, 1575px 184px #fff,
    1243px 748px #fff, 745px 1696px #fff, 409px 1542px #fff, 1082px 899px #fff,
    1030px 1604px #fff, 588px 127px #fff, 1222px 1841px #fff, 257px 184px #fff,
    1410px 1487px #fff, 342px 1015px #fff, 1226px 757px #fff, 1958px 575px #fff,
    906px 673px #fff, 628px 1741px #fff, 2000px 227px #fff, 1811px 692px #fff,
    1929px 1597px #fff, 972px 875px #fff, 1019px 115px #fff, 1584px 1139px #fff,
    861px 1397px #fff, 772px 1815px #fff, 1997px 111px #fff, 1343px 1651px #fff,
    1724px 714px #fff, 719px 1132px #fff, 140px 1733px #fff, 699px 1405px #fff,
    188px 943px #fff, 812px 1267px #fff, 1403px 1360px #fff, 1031px 291px #fff,
    1357px 91px #fff, 644px 397px #fff, 1768px 178px #fff, 242px 54px #fff,
    465px 368px #fff, 305px 747px #fff, 1312px 59px #fff, 1749px 1685px #fff,
    1873px 165px #fff, 50px 1840px #fff, 1334px 1061px #fff, 373px 23px #fff,
    685px 1138px #fff, 1573px 1090px #fff, 278px 1670px #fff, 1305px 1072px #fff,
    315px 636px #fff, 941px 330px #fff, 367px 248px #fff, 916px 1607px #fff,
    1837px 1016px #fff, 784px 759px #fff, 1324px 1589px #fff, 305px 1076px #fff,
    1263px 1833px #fff, 202px 1119px #fff, 197px 148px #fff, 1221px 651px #fff,
    158px 676px #fff, 1858px 530px #fff, 491px 1706px #fff, 260px 235px #fff,
    363px 1499px #fff, 292px 1040px #fff, 909px 200px #fff, 1061px 418px #fff,
    971px 1621px #fff, 213px 953px #fff, 1177px 568px #fff, 31px 622px #fff,
    922px 1348px #fff, 1401px 1903px #fff, 1050px 1106px #fff, 594px 1097px #fff,
    1997px 691px #fff, 871px 1393px #fff, 1370px 1246px #fff, 1621px 1177px #fff,
    1382px 1788px #fff, 95px 1920px #fff, 941px 242px #fff, 332px 1415px #fff,
    1280px 1071px #fff, 1245px 1888px #fff, 1130px 130px #fff, 982px 719px #fff,
    278px 1620px #fff, 186px 1339px #fff, 628px 1419px #fff, 1614px 724px #fff,
    437px 823px #fff, 1963px 911px #fff, 349px 1166px #fff, 936px 1661px #fff,
    1586px 342px #fff, 19px 1465px #fff, 60px 1291px #fff, 1117px 836px #fff,
    1238px 1425px #fff, 831px 288px #fff, 1465px 1714px #fff, 870px 1992px #fff,
    251px 1775px #fff, 1935px 1848px #fff, 1681px 37px #fff, 1225px 1348px #fff,
    411px 1660px #fff, 1649px 690px #fff, 1725px 137px #fff, 1780px 1183px #fff,
    905px 1634px #fff, 1397px 373px #fff, 1491px 724px #fff, 490px 1597px #fff,
    480px 1936px #fff, 1160px 784px #fff, 629px 103px #fff, 1878px 717px #fff,
    94px 723px #fff, 644px 781px #fff, 860px 1426px #fff, 1843px 1536px #fff,
    1022px 1240px #fff, 244px 1912px #fff, 121px 780px #fff, 1730px 1746px #fff,
    508px 720px #fff, 357px 1307px #fff, 1534px 1033px #fff, 129px 169px #fff,
    347px 1939px #fff, 1322px 205px #fff, 1442px 1907px #fff, 800px 695px #fff,
    1608px 1798px #fff, 145px 1221px #fff, 729px 1691px #fff, 1017px 1314px #fff,
    893px 1525px #fff, 537px 1117px #fff, 692px 1541px #fff, 245px 1505px #fff,
    1690px 1006px #fff, 1998px 1635px #fff, 1006px 96px #fff, 1111px 637px #fff,
    743px 961px #fff, 605px 1295px #fff, 1876px 1378px #fff, 611px 656px #fff,
    1592px 1744px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1931px 1053px #fff, 1227px 944px #fff, 347px 1458px #fff,
    1167px 924px #fff, 1434px 404px #fff, 1686px 884px #fff, 750px 1042px #fff,
    901px 1883px #fff, 1646px 1482px #fff, 1723px 335px #fff, 1090px 758px #fff,
    141px 918px #fff, 1995px 549px #fff, 811px 1054px #fff, 1440px 1868px #fff,
    11px 830px #fff, 1181px 1714px #fff, 1609px 1623px #fff, 1212px 1749px #fff,
    252px 1740px #fff, 1960px 503px #fff, 1475px 81px #fff, 1662px 1576px #fff,
    89px 309px #fff, 1664px 1238px #fff, 1587px 1600px #fff, 1795px 546px #fff,
    277px 430px #fff, 678px 946px #fff, 456px 85px #fff, 991px 1228px #fff,
    1431px 339px #fff, 1415px 1113px #fff, 1714px 726px #fff, 326px 751px #fff,
    1377px 1921px #fff, 1679px 1834px #fff, 1220px 694px #fff,
    1255px 1599px #fff, 1912px 506px #fff, 320px 767px #fff, 1764px 839px #fff,
    822px 124px #fff, 460px 956px #fff, 410px 1410px #fff, 285px 752px #fff,
    1554px 1470px #fff, 1368px 1900px #fff, 1582px 187px #fff,
    1934px 1790px #fff, 1015px 668px #fff, 1176px 1351px #fff, 901px 1562px #fff,
    737px 837px #fff, 359px 1043px #fff, 422px 130px #fff, 96px 401px #fff,
    296px 923px #fff, 109px 506px #fff, 1216px 1483px #fff, 1821px 304px #fff,
    235px 1940px #fff, 87px 265px #fff, 672px 1094px #fff, 379px 190px #fff,
    1140px 707px #fff, 1544px 1625px #fff, 379px 893px #fff, 1340px 1925px #fff,
    1715px 1645px #fff, 334px 722px #fff, 834px 1213px #fff, 1035px 464px #fff,
    1937px 1446px #fff, 927px 1189px #fff, 1841px 576px #fff, 58px 55px #fff,
    1445px 1504px #fff, 1045px 601px #fff, 1621px 1825px #fff, 1953px 419px #fff,
    1421px 1835px #fff, 1891px 1463px #fff, 1839px 1656px #fff,
    1744px 1245px #fff, 1238px 527px #fff, 283px 278px #fff, 1408px 1633px #fff,
    1187px 827px #fff, 1439px 725px #fff, 1142px 1379px #fff, 519px 396px #fff,
    1433px 1290px #fff, 1100px 1532px #fff, 602px 1554px #fff,
    1266px 1674px #fff, 1558px 1072px #fff, 502px 62px #fff, 560px 714px #fff,
    826px 1594px #fff, 1143px 1267px #fff, 1790px 1376px #fff, 1973px 317px #fff,
    1729px 1136px #fff, 1176px 1813px #fff, 888px 1730px #fff, 1979px 62px #fff,
    1280px 878px #fff, 277px 339px #fff, 1946px 1921px #fff, 450px 948px #fff,
    608px 319px #fff, 980px 1385px #fff, 947px 474px #fff, 184px 1529px #fff,
    178px 542px #fff, 1983px 1170px #fff, 465px 321px #fff, 637px 1845px #fff,
    547px 1662px #fff, 849px 18px #fff, 1222px 48px #fff, 1963px 1181px #fff,
    1427px 920px #fff, 1263px 1426px #fff, 980px 1949px #fff, 147px 440px #fff,
    845px 685px #fff, 1918px 1837px #fff, 914px 121px #fff, 205px 1629px #fff,
    1471px 12px #fff, 1852px 188px #fff, 859px 129px #fff, 1679px 1860px #fff,
    1423px 859px #fff, 520px 487px #fff, 1923px 733px #fff, 1910px 110px #fff,
    1536px 218px #fff, 977px 1907px #fff, 1028px 1813px #fff, 193px 1357px #fff,
    1286px 1408px #fff, 314px 1792px #fff, 428px 1891px #fff, 1647px 505px #fff,
    1852px 1938px #fff, 1633px 1640px #fff, 1487px 1308px #fff,
    1858px 1885px #fff, 326px 701px #fff, 1322px 359px #fff, 861px 507px #fff,
    1079px 701px #fff, 236px 262px #fff, 1935px 850px #fff, 992px 466px #fff,
    102px 423px #fff, 1959px 1020px #fff, 1584px 172px #fff, 929px 492px #fff,
    1312px 1851px #fff, 1018px 1498px #fff, 125px 1132px #fff, 591px 71px #fff,
    1433px 1149px #fff, 1244px 115px #fff, 302px 1295px #fff, 1255px 1973px #fff,
    1497px 347px #fff, 1642px 884px #fff, 1381px 1990px #fff, 1460px 1956px #fff,
    1646px 1044px #fff, 1883px 1350px #fff, 1907px 1204px #fff,
    814px 1773px #fff, 1202px 1083px #fff, 1852px 88px #fff, 148px 1690px #fff,
    116px 800px #fff, 1412px 1664px #fff, 1577px 1870px #fff, 231px 1989px #fff,
    699px 1911px #fff, 370px 1767px #fff, 1958px 1164px #fff, 837px 1366px #fff,
    1646px 1411px #fff, 1994px 201px #fff, 920px 814px #fff, 1626px 1707px #fff,
    1907px 414px #fff, 355px 1017px #fff, 1427px 389px #fff, 1193px 829px #fff,
    328px 435px #fff, 699px 704px #fff, 1418px 701px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1931px 1053px #fff, 1227px 944px #fff, 347px 1458px #fff,
    1167px 924px #fff, 1434px 404px #fff, 1686px 884px #fff, 750px 1042px #fff,
    901px 1883px #fff, 1646px 1482px #fff, 1723px 335px #fff, 1090px 758px #fff,
    141px 918px #fff, 1995px 549px #fff, 811px 1054px #fff, 1440px 1868px #fff,
    11px 830px #fff, 1181px 1714px #fff, 1609px 1623px #fff, 1212px 1749px #fff,
    252px 1740px #fff, 1960px 503px #fff, 1475px 81px #fff, 1662px 1576px #fff,
    89px 309px #fff, 1664px 1238px #fff, 1587px 1600px #fff, 1795px 546px #fff,
    277px 430px #fff, 678px 946px #fff, 456px 85px #fff, 991px 1228px #fff,
    1431px 339px #fff, 1415px 1113px #fff, 1714px 726px #fff, 326px 751px #fff,
    1377px 1921px #fff, 1679px 1834px #fff, 1220px 694px #fff,
    1255px 1599px #fff, 1912px 506px #fff, 320px 767px #fff, 1764px 839px #fff,
    822px 124px #fff, 460px 956px #fff, 410px 1410px #fff, 285px 752px #fff,
    1554px 1470px #fff, 1368px 1900px #fff, 1582px 187px #fff,
    1934px 1790px #fff, 1015px 668px #fff, 1176px 1351px #fff, 901px 1562px #fff,
    737px 837px #fff, 359px 1043px #fff, 422px 130px #fff, 96px 401px #fff,
    296px 923px #fff, 109px 506px #fff, 1216px 1483px #fff, 1821px 304px #fff,
    235px 1940px #fff, 87px 265px #fff, 672px 1094px #fff, 379px 190px #fff,
    1140px 707px #fff, 1544px 1625px #fff, 379px 893px #fff, 1340px 1925px #fff,
    1715px 1645px #fff, 334px 722px #fff, 834px 1213px #fff, 1035px 464px #fff,
    1937px 1446px #fff, 927px 1189px #fff, 1841px 576px #fff, 58px 55px #fff,
    1445px 1504px #fff, 1045px 601px #fff, 1621px 1825px #fff, 1953px 419px #fff,
    1421px 1835px #fff, 1891px 1463px #fff, 1839px 1656px #fff,
    1744px 1245px #fff, 1238px 527px #fff, 283px 278px #fff, 1408px 1633px #fff,
    1187px 827px #fff, 1439px 725px #fff, 1142px 1379px #fff, 519px 396px #fff,
    1433px 1290px #fff, 1100px 1532px #fff, 602px 1554px #fff,
    1266px 1674px #fff, 1558px 1072px #fff, 502px 62px #fff, 560px 714px #fff,
    826px 1594px #fff, 1143px 1267px #fff, 1790px 1376px #fff, 1973px 317px #fff,
    1729px 1136px #fff, 1176px 1813px #fff, 888px 1730px #fff, 1979px 62px #fff,
    1280px 878px #fff, 277px 339px #fff, 1946px 1921px #fff, 450px 948px #fff,
    608px 319px #fff, 980px 1385px #fff, 947px 474px #fff, 184px 1529px #fff,
    178px 542px #fff, 1983px 1170px #fff, 465px 321px #fff, 637px 1845px #fff,
    547px 1662px #fff, 849px 18px #fff, 1222px 48px #fff, 1963px 1181px #fff,
    1427px 920px #fff, 1263px 1426px #fff, 980px 1949px #fff, 147px 440px #fff,
    845px 685px #fff, 1918px 1837px #fff, 914px 121px #fff, 205px 1629px #fff,
    1471px 12px #fff, 1852px 188px #fff, 859px 129px #fff, 1679px 1860px #fff,
    1423px 859px #fff, 520px 487px #fff, 1923px 733px #fff, 1910px 110px #fff,
    1536px 218px #fff, 977px 1907px #fff, 1028px 1813px #fff, 193px 1357px #fff,
    1286px 1408px #fff, 314px 1792px #fff, 428px 1891px #fff, 1647px 505px #fff,
    1852px 1938px #fff, 1633px 1640px #fff, 1487px 1308px #fff,
    1858px 1885px #fff, 326px 701px #fff, 1322px 359px #fff, 861px 507px #fff,
    1079px 701px #fff, 236px 262px #fff, 1935px 850px #fff, 992px 466px #fff,
    102px 423px #fff, 1959px 1020px #fff, 1584px 172px #fff, 929px 492px #fff,
    1312px 1851px #fff, 1018px 1498px #fff, 125px 1132px #fff, 591px 71px #fff,
    1433px 1149px #fff, 1244px 115px #fff, 302px 1295px #fff, 1255px 1973px #fff,
    1497px 347px #fff, 1642px 884px #fff, 1381px 1990px #fff, 1460px 1956px #fff,
    1646px 1044px #fff, 1883px 1350px #fff, 1907px 1204px #fff,
    814px 1773px #fff, 1202px 1083px #fff, 1852px 88px #fff, 148px 1690px #fff,
    116px 800px #fff, 1412px 1664px #fff, 1577px 1870px #fff, 231px 1989px #fff,
    699px 1911px #fff, 370px 1767px #fff, 1958px 1164px #fff, 837px 1366px #fff,
    1646px 1411px #fff, 1994px 201px #fff, 920px 814px #fff, 1626px 1707px #fff,
    1907px 414px #fff, 355px 1017px #fff, 1427px 389px #fff, 1193px 829px #fff,
    328px 435px #fff, 699px 704px #fff, 1418px 701px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1634px 507px #fff, 1695px 295px #fff, 437px 667px #fff,
    1682px 1176px #fff, 1475px 10px #fff, 306px 395px #fff, 1032px 616px #fff,
    1618px 283px #fff, 177px 1655px #fff, 1814px 1980px #fff, 640px 1310px #fff,
    83px 131px #fff, 444px 1846px #fff, 1009px 1210px #fff, 647px 1697px #fff,
    1932px 470px #fff, 1589px 239px #fff, 1321px 285px #fff, 809px 1675px #fff,
    1519px 138px #fff, 1235px 1426px #fff, 1834px 1242px #fff, 518px 161px #fff,
    1351px 28px #fff, 491px 1282px #fff, 981px 559px #fff, 396px 1175px #fff,
    1806px 1973px #fff, 733px 822px #fff, 1144px 1975px #fff, 1926px 293px #fff,
    1157px 255px #fff, 1233px 1640px #fff, 1923px 1118px #fff, 502px 1002px #fff,
    1166px 653px #fff, 1811px 1052px #fff, 78px 1297px #fff, 447px 576px #fff,
    611px 253px #fff, 1277px 274px #fff, 34px 699px #fff, 1726px 1382px #fff,
    145px 1372px #fff, 142px 225px #fff, 1540px 250px #fff, 210px 1727px #fff,
    1199px 1119px #fff, 1255px 1119px #fff, 539px 452px #fff, 950px 1148px #fff,
    1941px 1167px #fff, 1604px 768px #fff, 399px 648px #fff, 1914px 303px #fff,
    447px 1268px #fff, 1891px 982px #fff, 1249px 1758px #fff, 1234px 646px #fff,
    939px 675px #fff, 788px 1640px #fff, 782px 829px #fff, 532px 1849px #fff,
    1515px 1503px #fff, 883px 652px #fff, 22px 1525px #fff, 1017px 1357px #fff,
    1093px 296px #fff, 390px 406px #fff, 296px 64px #fff, 519px 1999px #fff,
    285px 1499px #fff, 308px 720px #fff, 1709px 610px #fff, 610px 1508px #fff,
    1355px 157px #fff, 128px 1109px #fff, 800px 836px #fff, 1519px 530px #fff,
    1044px 1964px #fff, 393px 1943px #fff, 1299px 1306px #fff,
    1332px 1427px #fff, 673px 414px #fff, 285px 1877px #fff, 1701px 923px #fff,
    1804px 622px #fff, 729px 1099px #fff, 1340px 820px #fff, 273px 873px #fff,
    407px 249px #fff, 919px 227px #fff, 372px 442px #fff, 1850px 1825px #fff,
    728px 425px #fff, 142px 1978px #fff, 830px 721px #fff, 1638px 276px #fff,
    1817px 662px #fff, 1591px 1240px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1634px 507px #fff, 1695px 295px #fff, 437px 667px #fff,
    1682px 1176px #fff, 1475px 10px #fff, 306px 395px #fff, 1032px 616px #fff,
    1618px 283px #fff, 177px 1655px #fff, 1814px 1980px #fff, 640px 1310px #fff,
    83px 131px #fff, 444px 1846px #fff, 1009px 1210px #fff, 647px 1697px #fff,
    1932px 470px #fff, 1589px 239px #fff, 1321px 285px #fff, 809px 1675px #fff,
    1519px 138px #fff, 1235px 1426px #fff, 1834px 1242px #fff, 518px 161px #fff,
    1351px 28px #fff, 491px 1282px #fff, 981px 559px #fff, 396px 1175px #fff,
    1806px 1973px #fff, 733px 822px #fff, 1144px 1975px #fff, 1926px 293px #fff,
    1157px 255px #fff, 1233px 1640px #fff, 1923px 1118px #fff, 502px 1002px #fff,
    1166px 653px #fff, 1811px 1052px #fff, 78px 1297px #fff, 447px 576px #fff,
    611px 253px #fff, 1277px 274px #fff, 34px 699px #fff, 1726px 1382px #fff,
    145px 1372px #fff, 142px 225px #fff, 1540px 250px #fff, 210px 1727px #fff,
    1199px 1119px #fff, 1255px 1119px #fff, 539px 452px #fff, 950px 1148px #fff,
    1941px 1167px #fff, 1604px 768px #fff, 399px 648px #fff, 1914px 303px #fff,
    447px 1268px #fff, 1891px 982px #fff, 1249px 1758px #fff, 1234px 646px #fff,
    939px 675px #fff, 788px 1640px #fff, 782px 829px #fff, 532px 1849px #fff,
    1515px 1503px #fff, 883px 652px #fff, 22px 1525px #fff, 1017px 1357px #fff,
    1093px 296px #fff, 390px 406px #fff, 296px 64px #fff, 519px 1999px #fff,
    285px 1499px #fff, 308px 720px #fff, 1709px 610px #fff, 610px 1508px #fff,
    1355px 157px #fff, 128px 1109px #fff, 800px 836px #fff, 1519px 530px #fff,
    1044px 1964px #fff, 393px 1943px #fff, 1299px 1306px #fff,
    1332px 1427px #fff, 673px 414px #fff, 285px 1877px #fff, 1701px 923px #fff,
    1804px 622px #fff, 729px 1099px #fff, 1340px 820px #fff, 273px 873px #fff,
    407px 249px #fff, 919px 227px #fff, 372px 442px #fff, 1850px 1825px #fff,
    728px 425px #fff, 142px 1978px #fff, 830px 721px #fff, 1638px 276px #fff,
    1817px 662px #fff, 1591px 1240px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
